<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventario</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Inventario</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tipo de Activo</th>
                    <th>Descripción</th>
                    <th>Nomenclatura</th>
                    <th>Detalles</th>
                    <th>Documentación</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item['tipo de activo'] }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.nomenclatura }}</td>
                    <td>
                        <button class="btn btn-secondary" onclick="window.open('{{ item.detalles }}', '_blank')">Ver Detalles</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="window.open('{{ item.documentacion }}', '_blank')">Ver Documentación</button>
                    </td>
                    <td>{{ item.estado }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/download" class="btn btn-primary">Descargar Inventario</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
